@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
.quote-container{
    position: relative;
    height: 40vh;
    background-color: #E4DDD7;
    font-family: 'Heebo', sans-serif;
    margin: -1vw;
    font-size: 5vh;
    text-align: center;
    padding: 5vw;
    
    
}

.quote{
    font-size: 6vh;
    margin-top: 10vh;
}

.education-info{
    position: absolute;
    color: white;
    font-size: 6vh;
   
    margin-top: 5vh;
    margin-left: 10vw;
    
}

.unimet{
    font-size: 4vh;
}
.education-container{
    position: relative;
height: 60vh;
background-color: black;
margin: -1vw;
font-family: 'Heebo', sans-serif;
margin: -1vw;

}

