@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
.nav {
    display: flex;
    background-color: #E4DDD7;
    padding: 2vh;
    height: 15vh;
    margin: -1vh;
    justify-content: flex-end;
}

.nav-element{
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-size: 3vh;
    width: 15vw;
    margin-top: 1vh;
    margin-right: 5vw;
    
    justify-content: flex-end;
   color: white;
   transition: 0.3s;
}

.nav-element:hover{
    color:gray;
}